  
<!DOCTYPE html>
<html>
  <head>
    <title>Tamagotchi</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Tamagotchi</h1>
    <p>Create your Tamagotchi</p>
    <form class="jumbotron" action="/second" method="post">
    

     <label for="test1">Enter A Name for your Tamagotchi:</label>
     <input id="test1" name="test1" type="text">


     <label for="test2">Enter an test2 word:</label>
     <input id="test2" name="test2" type="text">
     <button type="submit">Get your words</button>
    </form>
  </body>
</html>
