<h1>TAMAGOTCHI Details: </h1>

<h2>@Model.Name</h2>

<p>TAMAGOTCHI Stats:</p>
<p>Hunger: @Model.Hunger, Attention: @Model.Attention, Rest: @Model.Rest</p>

<!-- <a href='/items/new'>Feed</a>
<a href='/items/new'>Play</a>
<a href='/items/new'>Sleep</a> -->

<a href='/tamagotchi/new'>Add another TAMAGOTCHI</a>
<a href='/tamagotchi'>View all TAMAGOTCHI</a>